{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<h1>Reset your password</h1>
{% if validlink %}
<p>Please enter your new password twice:</p>
<form action="." method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <p><input type="submit" value="Change my password" /></p>

 <button type="submit" name='btnsignin' class="btn btn-warning">Login</button>
            <a href="{% url 'signup' %}" class="btn btn-outline-warning m-0">
                Sign Up
            </a>

 <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" name="email" id="inputEmail" placeholder="name@example.com" required value="{{email}}">
 </div>

</form>
{% else %}
<p>The password reset link was invalid, possibly because it has
 already been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}