{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Reset your password' %}{% endblock %}
{% block content %}
<h1>{% trans 'Reset your password' %}</h1>
{% if validlink %}
<p>{% trans 'Please enter your new password twice:' %}</p>
<form action="." method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <p><input type="submit" value="Change my password" /></p>

 <button type="submit" name='btnsignin' class="btn btn-warning">{% trans 'Login' %}</button>
            <a href="{% url 'signup' %}" class="btn btn-outline-warning m-0">
                {% trans 'Sign Up' %}
            </a>

 <div class="form-group">
    <label for="inputEmail">{% trans 'Email' %}</label>
    <input type="email" class="form-control" name="email" id="inputEmail" placeholder="name@example.com" required value="{{email}}">
 </div>

</form>
{% else %}
<p>{% trans 'The password reset link was invalid, possibly because it has
 already been used. Please request a new password reset.' %}</p>
{% endif %}
{% endblock %}