{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} | Orders {% endblock %}

{% block content %}
<div class="my-form container p-5 my-5 rounded border border-warning">
    <h2 class="text-center">{% trans 'Orders' %}</h2>
    <hr>
    {% if not request.user.is_authenticated or request.user.is_anonymous %}
    <h5 class="alert alert-warning">
      {% trans 'You must be' %}
        <a href="{% url 'signin' %}" class="text-dark">{% trans 'Logged in' %}</a>
    </h5>
    {% elif order %}

    <h5>
      {% trans 'Full name:' %}'
        <span class="my-num">{{order.user.first_name|add:' '|add:order.user.last_name}}</span>

        <a href="{% url 'products' %}" class="btn btn-outline-warning float-right m-1">
          {% trans 'Continue Shopping' %}
        </a>

        <a href="{% url 'payment' %}" class="btn btn-outline-secondary float-right m-1">
          {% trans 'Checkout' %} 
        </a>

        <br><br>
        <hr>
        {% trans 'Order Number:'%}' <span class="my-num">{{order.id}}</span>
        {% trans 'with total:' %}' <span class="my-num">{{total}} SDG</span>
        {% trans 'for' %} <span class="my-num">{{orderdetails.count}}</span> {% trans 'products' %}
    </h5>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">{% trans 'Product' %}</th>
            <th scope="col">{% trans 'Image' %}</th>
            <th scope="col">{% trans 'Quantity' %}</th>
            <th scope="col">{% trans 'Price' %}</th>
            <th scope="col">{% trans 'Subtotals' %}</th>
            <th scope="col">{% trans 'Control' %}</th>
          </tr>
        </thead>
        <tbody>
        {% for line in orderdetails %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{line.product.name}}</td>
            <td><img src="{{line.product.photo.url}}" style="width:80px;height:80px" alt=""></td>
            <td>
                <a href="{% url 'sub_qty' orderdetails_id=line.id %}"
                class="btn btn-outline-warning btn-sm">-</a>
                {{line.quantity}}
                <a href="{% url 'add_qty' orderdetails_id=line.id %}"
                class="btn btn-outline-warning btn-sm">+</a>
            </td>
            <td>{{line.price}}</td>
            <td style="font-weight: bold;color:darkred">{% widthratio line.quantity 1 line.price %} SDG</td>
            <td>
                <a href="{% url 'remove_from_cart' orderdetails_id=line.id %}"
                class="btn btn-outline-danger btn-sm">{% trans 'Remove' %}</a>
            </td>
          </tr>
        {% empty %}
        <h5 class="alert alert-warning">
          {% trans 'No details here' %}
        </h5>
        {% endfor %} 
        </tbody>
      </table>
    {% else %}

    <h4 class="alert alert-warning">
      {% trans 'No orders here' %}
        <a href="{% url 'products' %}" class="text-dark">{% trans 'All Products' %}</a>
    </h4>

    {% endif %}

    <hr>
</div>
{% endblock %}