{% extends 'base.html' %}
{% load i18n %}

{% block title %} | Cart {% endblock %}

{% block content %}
<div class="my-form container p-5 my-5 rounded border border-warning">
    <h2 class="text-center">{% trans 'Cart' %}</h2>
    <hr>
    {% if not request.user.is_authenticated or request.user.is_anonymous %}
    <h5 class="alert alert-warning">
        {% trans 'You must be' %}
        <a href="{% url 'signin' %}" class="text-dark">{% trans 'Logged in' %}</a>
    </h5>
    {% elif all_orders %}
        {% if all_orders.count > 0 %}
        <h5 class="alert alert-warning">
            {% trans 'Found' %} {{all_orders.count}} {% trans 'orders' %}
        </h5>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">{% trans 'Order Number' %}</th>
                <th scope="col">{% trans 'Date & Time' %}</th>
                <th scope="col">{% trans 'Items Count' %}</th>
                <th scope="col">{% trans 'Total' %}</th>
                <th scope="col">{% trans 'Is Finished' %}</th>
              </tr>
            </thead>
            <tbody>
        {% endif %}
        {% for order in all_orders %}
        <tr>
            <td>
                {{order.id}}
            </td>
            <td>
                {{order.order_date}}
            </td>
            <td>
                {{order.items_count}}
            </td>
            <td>
                {{order.total}}
            </td>
            <td>
                {% if order.is_finished == True %}
                {% trans 'Yes' %}
                {% else %}
                {% trans 'No' %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}

        {% if all_orders.count > 0 %}
        </tbody>
        </table>
        {% endif %}

    {% else %}

    <h5 class="alert alert-warning">
        {% trans 'No orders here' %}
        <a href="{% url 'products' %}" class="text-dark">{% trans 'All Products' %}</a>
    </h5>

    {% endif %}

    <hr>
</div>
{% endblock %} 